.title-box{
    --background: linear-gradient( rgb(65,238,238) 100%, rgb(0,179,243) 100%) ;
    height: 75px;
}
.head-title{
    color: white;
    text-align: start;
    padding-top: 20px;
    text-transform: uppercase;
}
.icn{
    font-size: 30px;
    color: white;
    margin-right: 20px;
    
}
.shadow1t{
    text-align: start;
    color: #4f4f4f;
    font-size: 16px;
    text-transform: capitalize;
    width: 330px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.shadow1{
    text-align: start;
    color: #4f4f4f;
    font-size: 16px;
    text-transform: capitalize;
    width: 330px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
.icn-input{
    font-size: 30px;
    color: #a3a3a3;
    margin-right: 20px;
    margin-left: 20px;
    position: absolute;
    right: -10px;
}
.tittle-1{
text-align: center;
}
.col-tittle{
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
}
.tittle-3{
    font-size: 16px;
    border-bottom: 2px solid #07b6f3;
    text-transform: capitalize;
    padding-bottom: 10px;
    text-align: center;
    }

    .card-box2{
        display: flex;
        box-shadow: none;
        width: 100%;
    
    }
    .slid2-card-header{
        padding-right: 0px;
        padding-right: 0px;
        padding-left: 6px;
    }
    .files-2{
        width: 200px;
        border-radius: 5px;
        height: 150px;
    }
    .slid2-crd-contant{
        // padding-right: 0px;
        // padding-left: 6px;
    }
    .slid2-main-head{
        
        padding-top: 10px;
        text-transform: capitalize;
        font-size: 14px;
        margin-top: 30px;
    }
    .slid-2-card-sub-title-2{
       
    }
    .crd-span{
        color: #80c871;
        text-transform: capitalize;
        margin-top: 10px;
    }
    .crd-span1{
        margin-left: 75px;
        margin-top: 10px;
    }
    .crd-span2{
        position: absolute;
        top: -16px;
        left: 170px;
        margin-top: 10px;
    }
    .crd-list2-icn{
        margin-left: 30px;
        font-size: 25px;
        color: #80c871;
    }
    .files-3{
        width: 111px;
        border-radius: 5px;
        height: 150px;
    }
    .foter-box{
        position: absolute;
        bottom: 10px;
        right: 10px;
        text-decoration: none;
        font-size: 76px;
        color: #07b6f3;
    }