<ion-header>
  <ion-toolbar class="title-box">
    <ion-title class="head-title"><a href=""><ion-icon name="arrow-back-outline" class="icn"></ion-icon></a></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="tittle">
        <a href="#"><h1 class="tittle1">pencil</h1></a>
      </ion-col>

      <ion-col size="6" class="tittle">
       <a href="#"><h1 class="tittle2">keyboard</h1></a>
      </ion-col>
      <ion-col size="12"><ion-input type="text" placeholder="first name" class="shadow1t"><ion-icon name="person-outline" slot="start" class="icn-input"></ion-icon></ion-input> </ion-col>
    <ion-col size="12"><ion-input type="text" placeholder="last name" class="shadow1"><ion-icon name="person-outline" slot="start" class="icn-input"></ion-icon></ion-input> </ion-col>
    <ion-col size="12"><ion-input type="text" placeholder="email address" class="shadow1"><ion-icon name="mail-outline" slot="start" class="icn-input"></ion-icon></ion-input> </ion-col>
    <ion-col size="12"><ion-input type="text" placeholder="phone no." class="shadow1"><ion-icon name="call-outline" slot="start" class="icn-input"></ion-icon></ion-input> </ion-col>
  
    <ion-col size="6" class="cancl-box">
      <a href="#" class="cancl">cancel</a>
    </ion-col>

    <ion-col size="6" class="save-box">
      <a href="#" class="save">get me in</a>
    </ion-col>

  </ion-row>
  </ion-grid>

</ion-content>
