<ion-header>
  <ion-toolbar class="title-box">
    <ion-title class="head-title"><a href=""><ion-icon name="menu-outline" class="icn"></ion-icon></a>kyle's open house </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col class="tittle-3" size="4"><h1 class="col-tittle">lists</h1></ion-col>
    <ion-col class="tittle-1" size="4"><h1 class="col-tittle">schedule</h1></ion-col>
    <ion-col class="tittle-1" size="4"><h1 class="col-tittle">leads</h1></ion-col>
    
  </ion-row>

</ion-grid>


<p class="container-para">to creat your first open house tap + button on your screen</p>

</ion-content>
<ion-footer class="ion-no-border">
  <a href="#" class="foter-box"><ion-icon name="add-circle"></ion-icon></a>
  </ion-footer>
