<ion-header>
  <ion-toolbar class="title-box">
    <ion-title class="head-title"><a href=""><ion-icon name="arrow-back-outline" class="icn"></ion-icon></a>add open house</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>

      <h1 class="tittle">add open house</h1>
      <ion-col size="12">      
        <ion-avatar class="avtar-img">
          <img src="./assets/images/imagenot.png" >
        </ion-avatar>
    </ion-col>

      <ion-col size="12"><ion-input type="text" placeholder="tittle" class="shadow1t"></ion-input> </ion-col>
      <ion-col size="12"><ion-input type="text" placeholder="addrss" class="shadow1"></ion-input> </ion-col>
      <ion-col size="12"><ion-input type="text" placeholder="date" class="shadow1"></ion-input> </ion-col>
      <ion-col size="12">
        <ion-item>
        <ion-textarea rows="6" cols="20" placeholder="Description"></ion-textarea>
      </ion-item>
    </ion-col>
    <ion-col size="6" class="cancl-box">
      <a href="#" class="cancl">cancel</a>
    </ion-col>

    <ion-col size="6" class="save-box">
      <a href="#" class="save">save</a>
    </ion-col>


      
    </ion-row>
    </ion-grid>
</ion-content>
