<ion-header>
  <ion-toolbar class="title-box">
    <ion-title class="head-title"><a href=""><ion-icon name="arrow-back-outline" class="icn"></ion-icon></a>select template </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <img class="img-1" src="./assets/images/1-.jpg" alt="">
      </ion-col>

      <ion-col size="8">
        <h1 class="tittle1">kyle's open house</h1>
        <p class="sub-tittle-1">Lorem ipsum dolor sit amet, consectetur</p>
      </ion-col>

      <ion-col size="8" class="detail-box">
        <p class="detail-1">name <span class="sub-details1">keyle open</span></p>
        <p class="detail-1">phone <span class="sub-details1">+32-312-323-4444</span></p>
        <p class="detail-1">email <span class="sub-details1">keyleopen@gmail.com</span></p>
      </ion-col>

      <ion-col size="4">

      </ion-col>
    </ion-row>

    
      <ion-row class="card-2"> 

         <ion-col size="8">
          <h1 class="tittle2">kyle's open house</h1>
          <p class="sub-tittle-2">Lorem ipsum dolor sit amet, consectetur</p>
        </ion-col>

        <ion-col size="4">
          <img class="img-2" src="./assets/images/1-.jpg" alt="">
        </ion-col>
  

  
        <ion-col size="8" class="detail-box">
          <p class="detail-2"><ion-icon name="person-sharp"></ion-icon> <span class="sub-details2">keyle open</span></p>
          <p class="detail-2"><ion-icon name="call-sharp"></ion-icon> <span class="sub-details2">+32-312-323-4444</span></p>
          <p class="detail-2"><ion-icon name="mail-sharp"></ion-icon><span class="sub-details2">keyleopen@gmail.com</span></p>
        </ion-col>
  
        <ion-col size="4">
          <div class="icn-box">
            <ion-icon name="checkmark-outline" class="good-icn"></ion-icon>
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="4">
          <img class="img-1" src="./assets/images/1-.jpg" alt="">
        </ion-col>
  
        <ion-col size="8">
          <h1 class="tittle1">kyle's open house</h1>
          <p class="sub-tittle-1">Lorem ipsum dolor sit amet, consectetur</p>
        </ion-col>
          <ion-col size="3" class="detail3-box">
         <p class="detail-3"><ion-icon name="person-sharp"></ion-icon><span class="sub-details3">keyle open</span></p>
        </ion-col>

        <ion-col size="4" class="detail3-box">
            <p class="detail-3"><ion-icon name="call-sharp"></ion-icon><span class="sub-details3">+32-312-323-4444</span></p>
        </ion-col>

        <ion-col size="5" class="detail3-box">
            <p class="detail-3"><ion-icon name="mail-sharp"></ion-icon><span class="sub-details3">kyleopen@gmail.com</span></p>
        </ion-col>
      </ion-row>
  
      
        

      
  </ion-grid>

</ion-content>
