<ion-header>
  <ion-toolbar class="title-box">
    <ion-title class="head-title"><a href=""><ion-icon name="arrow-back-outline" slot="start" class="icn"></ion-icon></a><a class="t-delet" href="#"><ion-icon name="trash-outline" class="icn-d-p"></ion-icon>Delet</a><a class="t-edit" href="#"><ion-icon name="pencil-outline" class="icn-d-p"></ion-icon>Edit</a>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid style="padding: 0;">
  <ion-row>
    <ion-col class="slide-box" size="12">
      <ion-slides  class="slid-main-box" pager="true"  [options]="slidesOptions">
        <ion-slide>
          <h1 class="slide-tittle">127 elly, streetbenwasu, HS</h1>
          <img class="slide-img" src="./assets/images/crd1.png" alt="">
        </ion-slide>

        
          <ion-slide>
            <h1 class="slide-tittle">127 elly, streetbenwasu, HS</h1>
            <img class="slide-img" src="./assets/images/crd1.png" alt="">
          </ion-slide>

          
            <ion-slide>
              <h1 class="slide-tittle">127 elly, streetbenwasu, HS</h1>
              <img class="slide-img" src="./assets/images/crd1.png" alt="">
            </ion-slide>
      </ion-slides>

      <p class="description-slide"><ion-icon name="heart-outline" slot="start" class="slide-icn" ></ion-icon>26 <span class="description-slide-span">27 leads</span></p>
    </ion-col>

    
  </ion-row>
</ion-grid>

<h2 class="description">description</h2>
<p class="desc-para">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, non assumenda, iste eos cum voluptate, nam iusto consequuntur nemo natus reprehenderit quis exercitationem ex deserunt.</p>
<div id="container1">
  <a class="container1-a" href="#"><h1>choose tamplate</h1></a>
  </div>
</ion-content>


