<ion-header>
  <ion-toolbar class="title-box">
    <ion-title class="head-title"><a href=""><ion-icon name="menu-outline" class="icn"></ion-icon></a>kyle's open house </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col class="tittle-1" size="4"><h1 class="col-tittle">lists</h1></ion-col>
    <ion-col class="tittle-1" size="4"><h1 class="col-tittle">schedule</h1></ion-col>
    <ion-col class="tittle-3" size="4"><h1 class="col-tittle">leads</h1></ion-col>
    <ion-col size="12"><ion-input type="text" placeholder="search now" class="shadow1"><ion-icon name="search-outline" slot="end" class="icn-input"></ion-icon></ion-input> </ion-col>
    <ion-col size="6">
      <div class="icn-box" >
        <ion-icon name="person" class="row-icn"></ion-icon>
      </div>
      <h1 class="leads-data-tittle">anthony powell</h1>
      <a href="#" class="leads-data-sub-tittle">open house name</a>
    </ion-col>

    <ion-col class="select-box" size="6">
      <ion-item>
        <ion-label><ion-icon name="calendar-clear-outline" slot="start" style="margin-right: 10px;color: #80c871;"></ion-icon><p class="select-tittle">28 october 2016<span class="select-s">th</span></p><ion-icon name="ellipsis-vertical" style="margin-left: 20px; color: #979797;"></ion-icon></ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="">
          
          <ion-select-option value="brown">Call</ion-select-option>
          <ion-select-option value="blonde">Send Email</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="select-rows">
    <ion-col size="6">
      <div class="icn-box" >
        <ion-icon name="person" class="row-icn"></ion-icon>
      </div>
      <h1 class="leads-data-tittle">anthony powell</h1>
      <a href="#" class="leads-data-sub-tittle">open house name</a>
    </ion-col>

    <ion-col class="select-box" size="6">
      <ion-item>
        <ion-label><ion-icon name="calendar-clear-outline" slot="start" style="margin-right: 10px;color: #80c871;"></ion-icon><p class="select-tittle">28 october 2016<span class="select-s">th</span></p><ion-icon name="ellipsis-vertical" style="margin-left: 20px; color: #979797;"></ion-icon></ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="">
          
          <ion-select-option value="brown">Call</ion-select-option>
          <ion-select-option value="blonde">Send Email</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="select-rows">
    <ion-col size="6">
      <div class="icn-box" >
        <ion-icon name="person" class="row-icn"></ion-icon>
      </div>
      <h1 class="leads-data-tittle">anthony powell</h1>
      <a href="#" class="leads-data-sub-tittle">open house name</a>
    </ion-col>

    <ion-col class="select-box" size="6">
      <ion-item>
        <ion-label><ion-icon name="calendar-clear-outline" slot="start" style="margin-right: 10px;color: #80c871;"></ion-icon><p class="select-tittle">28 october 2016<span class="select-s">th</span></p><ion-icon name="ellipsis-vertical" style="margin-left: 20px; color: #979797;"></ion-icon></ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="">
          
          <ion-select-option value="brown">Call</ion-select-option>
          <ion-select-option value="blonde">Send Email</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row class="select-rows">
    <ion-col size="6">
      <div class="icn-box" >
        <ion-icon name="person" class="row-icn"></ion-icon>
      </div>
      <h1 class="leads-data-tittle">anthony powell</h1>
      <a href="#" class="leads-data-sub-tittle">open house name</a>
    </ion-col>

    <ion-col class="select-box" size="6">
      <ion-item>
        <ion-label><ion-icon name="calendar-clear-outline" slot="start" style="margin-right: 10px;color: #80c871;"></ion-icon><p class="select-tittle">28 october 2016<span class="select-s">th</span></p><ion-icon name="ellipsis-vertical" style="margin-left: 20px; color: #979797;"></ion-icon></ion-label>
        <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="">
          
          <ion-select-option value="brown">Call</ion-select-option>
          <ion-select-option value="blonde">Send Email</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col size="6" style="text-align: center;"><ion-icon name="call" style="margin-right: 10px;"></ion-icon>+32-312-323-44</ion-col>
    <ion-col size="6" style="text-align: center;"><ion-icon name="mail" style="margin-right: 10px;"></ion-icon>kyleopen@gmail.com</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
